@import "../../../theme/variables";

.SearchBar {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: $border-radius;
  border: $border;
  background-color: white;  
  input {
    
    outline: none;
    border: none;
    margin: 0 0.5rem;

    &:active,
    &:focus,&:hover {
      outline: none;
      cursor:pointer;
    }
  }

  .SearchIcon {
    color: #2c74d6;
    margin:0.25rem;
    font-size: 1.2rem;
  }

  &:hover {
    cursor: pointer;
  }
}