@import "../../../../theme/variables";

.ModuleList {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .SaveSequenceButton {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid $coditas-blue;
  }
  .UserButtons {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid $coditas-blue;
  }
  .ModuleListContainer {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 1rem;
    max-height: 53vh;
  }

  .ListAdmin {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: scroll;
    height: calc(100vh - 18rem);
    overflow: scroll;
    overflow-x: hidden;
  }

  .ListUser {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: scroll;
    height: calc(100vh - 20rem);
    overflow: scroll;
    overflow-x: hidden;
  }
}
