@import "../../../../theme/variables";

.EditModule {
  .Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    background-color: $coditas-lightgray;
    border-radius: 0.25rem;
    position: relative;
    padding-top: 2rem;

    h2 {
      margin: auto;
    }

    .Btn {
      margin: auto;
      margin-bottom: 1rem;
    }
  }
}
